# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
coverage/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Generated
**/GeneratedPluginRegistrant.*
**/Flutter/ephemeral/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/.generated/
*.xcworkspace
*.xcuserdata/
*.xcuserstate

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# VS Code & IntelliJ
.vscode/
.idea/

# Others
*.log
*.lock
